<section class="container d-flex justify-content-center mt-5">
<form class="col-6" method="get", action="insert_student_data">
  <div class="form-group">
    <label for="exampleFormControlInput1">ID</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="id" >
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">user name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="userName">
  </div>
  
  
  <div class="form-group">
    
    <input type="submit" class="form-control bg-success" id="exampleFormControlInput1"  value="add">
  </div>
</form>
</section>